In [3]:
import pandas as pd
from IPython.display import display
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from scipy.stats import mannwhitneyu
import gc

In [ ]:
# df = pd.read_csv("c:\\data\\e-commerce\\2019-Oct.csv", usecols=['event_time', 'event_type', 'product_id', 'brand', 'category_code', 'price', 'user_id', 'user_session'])
# df.head(2)

,event_time,event_type,product_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc

In [ ]:
# df['category_code'] = df['category_code'].astype('category')
# df['category_code'] = df['category_code'].cat.add_categories('unknown.')
# df['category_code'].fillna('unknown.', inplace=True)

# df['general_category'] = df['category_code'].apply(lambda x: x.split('.')[0])
# display(df.head(2))

C:\Users\User\AppData\Local\Temp\ipykernel_17652\3709310507.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['category_code'].fillna('unknown.', inplace=True)

,event_time,event_type,product_id,category_code,brand,price,user_id,user_session,general_category
0,2019-10-01 00:00:00 UTC,view,44600062,unknown.,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c,unknown
1,2019-10-01 00:00:00 UTC,view,3900821,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc,appliances

In [ ]:
# df['user_session'] = df['user_session'].astype('category').cat.codes
# df.head()

,event_time,event_type,product_id,category_code,brand,price,user_id,user_session,general_category
0,2019-10-01 00:00:00 UTC,view,44600062,unknown.,shiseido,35.79,541312140,4147850,unknown
1,2019-10-01 00:00:00 UTC,view,3900821,appliances.environment.water_heater,aqua,33.20,554748717,5316338,appliances
2,2019-10-01 00:00:01 UTC,view,17200506,furniture.living_room.sofa,NaN,543.10,519107250,3120153,furniture
3,2019-10-01 00:00:01 UTC,view,1307067,computers.notebook,lenovo,251.74,550050854,4499321,computers
4,2019-10-01 00:00:04 UTC,view,1004237,electronics.smartphone,apple,1081.98,535871217,7176696,electronics

In [ ]:
# buy_sessions = df[df['event_type'] == 'purchase']['user_session'].unique()

# buy_log = df[df['user_session'].isin(buy_sessions)]
# not_buy_log = df[~df['user_session'].isin(buy_sessions)]

In [ ]:
# df['buy'] = df['user_session'].isin(buy_log['user_session']).astype(int)
# df.head(2)

,event_time,event_type,product_id,category_code,brand,price,user_id,user_session,general_category,buy
0,2019-10-01 00:00:00 UTC,view,44600062,unknown.,shiseido,35.79,541312140,4147850,unknown,0
1,2019-10-01 00:00:00 UTC,view,3900821,appliances.environment.water_heater,aqua,33.20,554748717,5316338,appliances,0

In [7]:
# df['buy'].hist()

In [8]:
# df.head(2)

In [ ]:
# # datetime 처리
# df['event_time'] = pd.to_datetime(df['event_time'])
# df['date'] = df['event_time'].dt.date

# # 사용자별, 시간순 정렬
# df = df.sort_values(['user_id', 'event_time'])

# # 구매 발생 플래그
# df['is_purchase'] = df['event_type'] == 'purchase'

# # 하루 단위 기준 세션 초기화
# df['daily_session'] = df['user_id'].astype(str) + '_' + df['date'].astype(str)

# # 구매 발생 시 세션 쪼개기: 구매 이후는 새로운 세션으로
# def split_on_purchase(group):
#     session_id = []
#     counter = 0
#     for is_p in group['is_purchase']:
#         session_id.append(counter)
#         if is_p:
#             counter += 1
#     return session_id

# # 사용자 + 날짜별로 쪼개서 세션 나누기
# df['session_split_id'] = df.groupby(['user_id', 'date']).apply(split_on_purchase).explode().values

# # reallyreal진짜최종의최총의최최종
# df['custom_session'] = (
#     df['user_id'].astype(str) + '_' +
#     df['date'].astype(str) + '_' +
#     df['session_split_id'].astype(str)
# )
# df.head(2)

C:\Users\User\AppData\Local\Temp\ipykernel_17652\1384991292.py:25: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df['session_split_id'] = df.groupby(['user_id', 'date']).apply(split_on_purchase).explode().values

,event_time,event_type,product_id,category_code,brand,price,user_id,user_session,general_category,buy,date,is_purchase,daily_session,session_split_id,custom_session
31964969,2019-10-23 20:04:08+00:00,view,7002639,kids.carriage,bumbleride,769.65,33869381,7808651,kids,0,2019-10-23,False,33869381_2019-10-23,0,33869381_2019-10-23_0
15808538,2019-10-13 00:13:46+00:00,view,10600284,unknown.,NaN,0.00,64078358,3521414,unknown,0,2019-10-13,False,64078358_2019-10-13,0,64078358_2019-10-13_0

In [4]:
# df.to_csv("c:\\data\\e-commerce\\custom_session.csv", index=False) # event_time, event_type, product_id, category_code, brand, price, user_id, user_session, general_category, buy, date, is_purchase, daily_session, session_split_id, custom_session
custom_session = pd.read_csv("c:\\data\\e-commerce\\custom_session.csv", usecols=['event_time', 'event_type', 'product_id', 'category_code', 'brand', 'price', 'user_id', 'general_category', 'buy', 'custom_session']);custom_session.head(2)

,event_time,event_type,product_id,category_code,brand,price,user_id,general_category,buy,custom_session
0,2019-10-23 20:04:08+00:00,view,7002639,kids.carriage,bumbleride,769.65,33869381,kids,0,33869381_2019-10-23_0
1,2019-10-13 00:13:46+00:00,view,10600284,unknown.,NaN,0.00,64078358,unknown,0,64078358_2019-10-13_0

In [5]:
custom_session['custom_session'] = custom_session['custom_session'].astype('category').cat.codes
custom_session.head(2)

,event_time,event_type,product_id,category_code,brand,price,user_id,general_category,buy,custom_session
0,2019-10-23 20:04:08+00:00,view,7002639,kids.carriage,bumbleride,769.65,33869381,kids,0,431
1,2019-10-13 00:13:46+00:00,view,10600284,unknown.,NaN,0.00,64078358,unknown,0,42508

In [9]:
print(custom_session['custom_session'].nunique())
print(custom_session['custom_session'].min())
print(custom_session['custom_session'].max())

42509
0
42508

In [13]:
custom_session.head(2)

,event_time,event_type,product_id,category_code,brand,price,user_id,general_category,buy,custom_session
0,2019-10-23 20:04:08+00:00,view,7002639,kids.carriage,bumbleride,769.65,33869381,kids,0,431
1,2019-10-13 00:13:46+00:00,view,10600284,unknown.,NaN,0.00,64078358,unknown,0,42508

# Transformer model?

In [ ]:
# def preprocessing_4_transformer(df):
#     df = df.sort_values(['user_id', 'event_time'])
    
#     session_data = []
#     for session, group in df.groupby('custom_session'):
#         events = group[['event_type', 'product_id', 'category_code', 'general_category']]
#         session_data.append({
#             'session': session,
#         })

42509
0
42508