In [1]:
import pandas as pd
from IPython.display import display
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from scipy.stats import mannwhitneyu
import gc

In [2]:
# df = pd.read_csv("c:\\data\\e-commerce\\2019-Oct.csv", usecols=['event_time', 'event_type', 'product_id', 'brand', 'category_code', 'price', 'user_id', 'user_session'])
# df.head(2)

In [3]:
# df['category_code'] = df['category_code'].astype('category')
# df['category_code'] = df['category_code'].cat.add_categories('unknown.')
# df['category_code'].fillna('unknown.', inplace=True)

# df['general_category'] = df['category_code'].apply(lambda x: x.split('.')[0])
# display(df.head(2))

In [4]:
# df['user_session'] = df['user_session'].astype('category').cat.codes
# df.head()

In [5]:
# buy_sessions = df[df['event_type'] == 'purchase']['user_session'].unique()

# buy_log = df[df['user_session'].isin(buy_sessions)]
# not_buy_log = df[~df['user_session'].isin(buy_sessions)]

In [6]:
# df['buy'] = df['user_session'].isin(buy_log['user_session']).astype(int)
# df.head(2)

In [7]:
# df['buy'].hist()

In [8]:
# df.head(2)

In [9]:
# # datetime 처리
# df['event_time'] = pd.to_datetime(df['event_time'])
# df['date'] = df['event_time'].dt.date

# # 사용자별, 시간순 정렬
# df = df.sort_values(['user_id', 'event_time'])

# # 구매 발생 플래그
# df['is_purchase'] = df['event_type'] == 'purchase'

# # 하루 단위 기준 세션 초기화
# df['daily_session'] = df['user_id'].astype(str) + '_' + df['date'].astype(str)

# # 구매 발생 시 세션 쪼개기: 구매 이후는 새로운 세션으로
# def split_on_purchase(group):
#     session_id = []
#     counter = 0
#     for is_p in group['is_purchase']:
#         session_id.append(counter)
#         if is_p:
#             counter += 1
#     return session_id

# # 사용자 + 날짜별로 쪼개서 세션 나누기
# df['session_split_id'] = df.groupby(['user_id', 'date']).apply(split_on_purchase).explode().values

# # 최종 세션 ID
# df['custom_session'] = (
#     df['user_id'].astype(str) + '_' +
#     df['date'].astype(str) + '_' +
#     df['session_split_id'].astype(str)
# )
# df.head(2)

In [ ]:
# df.to_csv("c:\\data\\e-commerce\\temp.csv", index=False)
# df = pd.read_csv("c:\\data\\e-commerce\\temp.csv", usecols=['event_time', 'event_type', 'product_id', 'category_code', 'brand', 'price', 'user_id', 'buy', 'daily_session', 'custom_session'])

In [ ]:
# df['custom_session'] = df['custom_session'].astype('category').cat.codes
# df.head(10) # event_time, event_type, product_id, category_code, brand, price, user_id, user_session, general_category, buy, date, is_purchase, daily_session, session_split_id, custom_session

,event_time,event_type,product_id,category_code,brand,price,user_id,buy,daily_session,custom_session
0,2019-10-23 20:04:08+00:00,view,7002639,kids.carriage,bumbleride,769.65,33869381,0,33869381_2019-10-23,431
1,2019-10-13 00:13:46+00:00,view,10600284,unknown.,NaN,0.00,64078358,0,64078358_2019-10-13,7041613
2,2019-10-02 21:43:00+00:00,view,22200103,unknown.,NaN,15.77,183503497,0,183503497_2019-10-02,0
3,2019-10-04 17:44:37+00:00,view,6902133,furniture.living_room.chair,joie,143.89,184265397,0,184265397_2019-10-04,1
4,2019-10-04 17:45:18+00:00,view,6902133,furniture.living_room.chair,joie,143.89,184265397,0,184265397_2019-10-04,1
5,2019-10-04 17:50:50+00:00,view,6902303,furniture.living_room.chair,joie,111.46,184265397,0,184265397_2019-10-04,1
6,2019-10-04 17:51:04+00:00,view,6902303,furniture.living_room.chair,joie,111.46,184265397,0,184265397_2019-10-04,1
7,2019-10-15 17:18:59+00:00,view,27400002,unknown.,oral-b,79.77,184265397,0,184265397_2019-10-15,2
8,2019-10-15 17:19:28+00:00,view,27400002,unknown.,oral-b,79.77,184265397,0,184265397_2019-10-15,2
9,2019-10-10 03:35:36+00:00,view,4804056,electronics.audio.headphone,apple,161.88,195082191,0,195082191_2019-10-10,3

In [ ]:
# session_features  =  df.groupby('custom_session').agg(
#     user_id = ('user_id', 'first'),
#     view_count = ('event_type', lambda x: (x == 'view').sum()),
#     cart_count = ('event_type', lambda x: (x == 'cart').sum()),
#     total_price = ('price', 'sum'),
#     first_event_time = ('event_time', 'min'),
#     last_event_time = ('event_time', 'max'),
#     buy = ('buy', 'first')
# )

In [ ]:
# session_features.head(5)

,user_id,view_count,cart_count,total_price,first_event_time,last_event_time,buy
custom_session,,,,,,,
0,183503497,1,0,15.77,2019-10-02 21:43:00+00:00,2019-10-02 21:43:00+00:00,0
1,184265397,4,0,510.70,2019-10-04 17:44:37+00:00,2019-10-04 17:51:04+00:00,0
2,184265397,2,0,159.54,2019-10-15 17:18:59+00:00,2019-10-15 17:19:28+00:00,0
3,195082191,1,0,161.88,2019-10-10 03:35:36+00:00,2019-10-10 03:35:36+00:00,0
4,200673532,1,0,99.42,2019-10-10 15:02:36+00:00,2019-10-10 15:02:36+00:00,0

In [ ]:
# session_features.to_csv("c:\\data\\e-commerce\\session_features.csv", index=False)
session_features = pd.read_csv("c:\\data\\e-commerce\\session_features.csv")

In [15]:
import numpy as np
import tensorflow as tf
from tensorflow import keras
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler